{% extends 'base.html.twig' %}

{% block title %}New CalibrationPoint{% endblock %}

{% block body %}
    <h1>Create new CalibrationPoint</h1>

    {{ include('calibration_point/_form.html.twig') }}

    <a href="{{ path('app_calibration_point_index') }}">back to list</a>
{% endblock %}
