{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Air Scales Dashboard</h1>
    {% include '_user_links.html.twig' %}

        <h2>Your Calibration Points</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Pressure</th>
                    <th>Temperature</th>
                    <th>Weight</th>
                    <th>Device</th>
                </tr>
            </thead>
            <tbody>
                {% for point in calibration_points %}
                    <tr>
                        <td>{{ point.airPressure }}</td>
                        <td>{{ point.temperature }}</td>
                        <td>{{ point.axleWeight }}</td>
                        <td>{{ point.device.serialNumber ?? 'Unknown' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No calibration points found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
